body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}

nav a:hover {
    background-color: #555;
    color: yellow;
}

/* Sections */
section {
    background-color: white;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #222;
}

h2 {
    color: #444;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}
img {
    border: 3px solid #333;
}
table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}